<div class="container">
  <h1>Medicines</h1>
    <a [routerLink]="['/medicine-add']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>        
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medicine of medicines">
        <td>{{ medicine.name }}</td>        
        <td><a [routerLink]="['/medicine-details', medicine._id]">Show Details</a></td>
      </tr>
    </tbody>
  </table>
</div>
